body{
    /*background-color: rgb(8, 46, 83);*/
    background-image: url('bg.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    height: auto;
}
.container{
    margin:4%;
    background-color: #021427;
    /*background-image: url('propic.jpeg');
    background-size: 100% 300%;*/
    border-radius: 15px;
    width:90%;
    height:80vh;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
    flex:1;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
}
.layout{
    width:50%;
    height:80vh;
    /*background-color: #021427;*/
    flex:1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
.layout h1{
    font-size: 40px;
    color:white;
}
.layout p{
    font-size: 24px;
    color:white;
    font-weight: lighter;
}

.toolbar{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    height: 20%;
    width:100%;
}

.Button{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    /*background-color: white;*/
    height: 20%;
    width:100%;
}

.Button p{
    font-size: 24px;
    color:white;
}
.toolbar a{
    font-size: 24px;
    color:white;
    text-decoration: none;
}

.Button p:hover{
    color:#427AA1;
}

.toolbar p{
    font-size: 20px;
    color:white;
    font-weight: bold;
}
.toolbar p:hover{color:#427AA1;}

.profile{
    height: 100%;
    width: 100%;
    background: url('pic.png');
    background-size: 100% 100%;
}
.card{
    height: 90%;
    width: 90%;
    background-color:#021427;
    background-size: 100% 100%;
    border-radius: 15px;
    margin-bottom: 5%;
    /*box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);*/
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.abouts{
    height: 100%;
    width: 100%;
    background-color:#021427;
    background-size: 100% 100%;
    border-radius: 15px;
    margin-bottom: 5%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.skill{
    height: 100%;
    width: 80%;
    background-size: 100% 100%;
    border-radius: 15px;
    margin-bottom: 5%;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.skill #title{
    background-color: #021427;
    height: 20%;
    width: 100%;
}
.skill #info{
    height: 80%;
    width: 100%;
}
.occlusore{
    height: 95%;
    width: 100%;
    background-color: #021427;
    background-size: 100% 100%;
    opacity:0.4;
    position:relative;
}
#skill p{
    font-size: 20px;
}
.abouts p{
    font-size: 16px;
}
.bar {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 5px;
  }
  .python {width: 90%; background-color: #427AA1;} /* Green */
  .cpp {width: 80%; background-color: #427AA1;} /* Green */
  .sol {width: 70%; background-color: #427AA1;} /* Green */
  .java {width: 60%; background-color: #427AA1;} /* Green */
  .git {width: 75%; background-color: #427AA1;} /* Green */
  .html {width: 60%; background-color: #427AA1;} /* Green */
  .css {width: 60%; background-color: #427AA1;} /* Green */
  .sql {width: 70%; background-color: #427AA1;} /* Green */
  .italian {width: 100%; background-color: #427AA1;border-radius: 5px;} /* Green */
  .english {width: 84%; background-color: #427AA1;} /* Green */
  .spanish {width: 50%; background-color: #427AA1;} /* Green */
@media screen and (max-width: 1000px) {
    #layoutRight{
        display: none;
    }
}